
@{
    ViewData["Title"] = "CustomerSettings";
    Layout = "~/Views/Shared/_CustomerSettings.cshtml";
}

<li>
    <ul>
        <a asp-controller="Customer" asp-action="CustomerEdit" class="btn btn-primary" >Edit Profile</a>
       
    </ul>
</li>

