@model WebgentalIdentity.Models.AddressModel

@{
    ViewData["Title"] = "EditAddress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .text-font {
        font-family: futura-pt,Tahoma,Geneva,Verdana,Arial,sans-serif;
        font-weight: 700;
        letter-spacing: .156rem;
        font-size: 1.125rem;
    }

    .text-price {
        padding: 0 .625rem;
        font-family: futura-pt,Tahoma,Geneva,Verdana,Arial,sans-serif;
        font-style: normal;
        font-size: .75rem;
        font-weight: 700;
        line-height: .813rem;
        letter-spacing: 1.6px;
    }

    .text-descriptions {
        font-family: futura-pt,Tahoma,Geneva,Verdana,Arial,sans-serif;
        font-style: normal;
        font-size: .75rem;
        font-weight: 400;
        line-height: 1.125rem;
        margin: .313rem 0 .938rem;
        padding: 0 .625rem;
    }

    .button-color {
        color: #4e4e4e;
        border-color: #4e4e4e;
    }

    .button-order {
        font-family: futura-pt,Tahoma,Geneva,Verdana,Arial,sans-serif;
        font-style: normal;
        font-size: .75rem;
        font-weight: 700;
        background-color: black;
        color: white;
        width: 20%;
    }

        .button-order:hover {
            background-color: darkgreen;
            color: white;
            box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px;
        }
</style>

<div class="container">

    <!--Section: Design Block-->
    <section style=" width: 85%; margin-left: 4.5rem; margin-top: 40px;">
        <div>
            <div class="card mb-4" style="box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px; }">
                <div class="card-header py-3">
                    <h5 class="mb-0 text-font text-uppercase">Delivery address</h5>
                </div>
                <div class="card-body">
                    <form asp-action="EditAddress">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="AddressId" />
                        <div class="form-group">
                            <label asp-for="FullName" class="control-label"></label>
                            <input asp-for="FullName" class="form-control" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="State" class="control-label"></label>
                            <input asp-for="State" class="form-control" />
                            <span asp-validation-for="State" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Pincode" class="control-label"></label>
                            <input asp-for="Pincode" class="form-control" />
                            <span asp-validation-for="Pincode" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address" class="control-label"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Landmark" class="control-label"></label>
                            <input asp-for="Landmark" class="form-control" />
                            <span asp-validation-for="Landmark" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Mobile" class="control-label"></label>
                            <input asp-for="Mobile" class="form-control" />
                            <span asp-validation-for="Mobile" class="text-danger"></span>
                        </div>
                        <div class="form-group" hidden>
                            <label asp-for="Uid" class="control-label"></label>
                            <input asp-for="Uid" class="form-control" />
                            <span asp-validation-for="Uid" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>

            </div>

        </div>


    </section>
    <!--Section: Design Block-->

</div>