@model WebgentalIdentity.Models.AddressModel
@{
    ViewData["Title"] = "MultiAddress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .text-font {
        font-family: futura-pt,Tahoma,Geneva,Verdana,Arial,sans-serif;
        font-weight: 700;
        letter-spacing: .156rem;
        font-size: 1.125rem;
    }

    .text-price {
        padding: 0 .625rem;
        font-family: futura-pt,Tahoma,Geneva,Verdana,Arial,sans-serif;
        font-style: normal;
        font-size: .75rem;
        font-weight: 700;
        line-height: .813rem;
        letter-spacing: 1.6px;
    }

    .text-descriptions {
        font-family: futura-pt,Tahoma,Geneva,Verdana,Arial,sans-serif;
        font-style: normal;
        font-size: .75rem;
        font-weight: 400;
        line-height: 1.125rem;
        margin: .313rem 0 .938rem;
        padding: 0 .625rem;
    }

    .button-color {
        color: #4e4e4e;
        border-color: #4e4e4e;
    }

    .button-order {
        font-family: futura-pt,Tahoma,Geneva,Verdana,Arial,sans-serif;
        font-style: normal;
        font-size: .75rem;
        font-weight: 700;
        background-color: black;
        color: white;
        width: 20%;
    }

        .button-order:hover {
            background-color: darkgreen;
            color: white;
            box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px;
        }
</style>


<div class="container">

    <!--Section: Design Block-->
    <section style=" width: 85%; margin-left: 4.5rem; margin-top: 40px;">
        <div>
            <div class="card mb-4" style="box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px; }">
                <div class="card-header py-3">
                    <h5 class="mb-0 text-font text-uppercase">Delivery address</h5>
                </div>
                <div class="card-body">
                    <form asp-action="MultiAddress">

                        <div class="form-outline mb-4">

                            <input asp-for="FullName" type="text" id="form11Example3" class="form-control" />
                            <label class="form-label" for="form11Example3">Full Name</label>
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>

                        <!-- Text input -->
                        <div class="form-outline mb-4">
                            @*  <input asp-for="State" type="text" id="form11Example3" class="form-control" />*@
                            <label class="form-label" for="form11Example3">State</label>
                            <select   asp-for="State" style="border:1px solid gray; padding:3px 14px; " class="form-control">
                                <option value="Gujarat">Gujarat</option>
                                <option value="Maharastra">Maharastra</option>
                                <option value="Chennai">Chennai</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Kolkata">Kolkata</option>
                                <option value="Punjab">Punjab</option>
                                <option value="J&K">J&K</option>
                                <option value="Uttar Pradesh">Uttar Pradesh</option>
                                <option value="Sikkim">Sikkim</option>
                                <option value="Rajesthan">Rajesthan</option>
                                <option value="Rajesthan">Rajesthan</option>
                                <option value="Goa">Goa</option>
                            </select>


                            <span asp-validation-for="State" class="text-danger"></span>
                        </div>

                        <!-- Text input -->
                        <div class="form-outline mb-4">
                            <textarea asp-for="Address" type="text" id="form11Example4" class="form-control"></textarea>
                            <label class="form-label" for="form11Example4">Address</label>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>

                        <!-- Pincode Street -->
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-outline">
                                    <input asp-for="Pincode" type="text" id="form11Example1" class="form-control" />
                                    <label class="form-label" for="form11Example1">Pincode</label>
                                    <span asp-validation-for="Pincode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-outline">
                                    <input asp-for="Landmark" type="text" id="form11Example2" class="form-control" />
                                    <label class="form-label" for="form11Example2">Landmark</label>
                                    <span asp-validation-for="Landmark" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <!-- Number input -->
                        <div class="form-outline mb-4">
                            <label asp-for="Mobile" class="control-label"></label>
                            <input asp-for="Mobile" class="form-control" type="text" />
                            <span asp-validation-for="Mobile" class="text-danger"></span>
                        </div>
                        @*  <div class="form-group" hidden>

                                <input asp-for="Uid" class="form-control" />
                                <span asp-validation-for="Uid" class="text-danger"></span>
                                <label asp-for="Uid" class="control-label"></label>
                            </div>*@

                        <div class="text-center">
                            <button type="submit" class="btn button-order">Continue</button>
                        </div>
                    </form>
                </div>

            </div>

        </div>


    </section>
    <!--Section: Design Block-->

</div>



