@model WebgentalIdentity.Models.Product

@{
    ViewData["Title"] = "EditProduct";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}

<h1>EditProduct</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditProduct" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Pid" />
            <div class="form-group">
                <label asp-for="Pname" class="control-label"></label>
                <input asp-for="Pname" class="form-control" />
                <span asp-validation-for="Pname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pdetail" class="control-label"></label>
                @* <input asp-for="Pdetail" class="form-control" />*@
                <textarea id="basic-example" asp-for="Pdetail" class="form-control">
                </textarea>
                <span asp-validation-for="Pdetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pprice" class="control-label"></label>
                <input asp-for="Pprice" class="form-control" />
                <span asp-validation-for="Pprice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cid" class="control-label"></label>
                <select class="form-control" asp-for="Cid" asp-items="ViewBag.list">
                    <option value="">Select Category</option>
                </select>
                <span asp-validation-for="Cid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfileImage" class="control-label"></label>
                <input type="file" asp-for="ProfileImage" class="form-control" />
                <span asp-validation-for="ProfileImage" class="text-danger"></span>
            </div>
            <div>
                <img src="~/Images/@ViewBag.Image" width="100" height="100" asp-append-version="true" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    tinymce.init({
        selector: '#basic-example',
        height: 200,
        menubar: false,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
        ],
        toolbar: 'undo redo | formatselect | ' +
            'bold italic backcolor | alignleft aligncenter ' +
            'alignright alignjustify | bullist numlist outdent indent | ' +
            'removeformat | help',
        content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
    });

</script>